@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 4rem;
  text-align: center;
}

body{
  background-color: #18151e; ;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}


.card {
  padding: 0em;
}

.custom-card {
  padding: 0rem; /* o el valor por defecto que quieras */
}


/* Más espacio entre secciones */
.section-spacing {
  padding-top: 5rem; /* más espacio arriba */
  padding-bottom: 5rem; /* más espacio abajo */
  padding-left: 3rem;
  padding-right: 3rem;
}

